absl-py
aiohttp
aiosignal
appdirs==1.4.4
astunparse==1.6.3
async-timeout
attrs
audioread==3.0.0
blinker==1.4
Bottleneck
brotlipy==0.7.0
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
decorator==5.1.1
dill
docopt==0.6.2
file-import==0.1
filelock
flatbuffers
fonttools==4.25.0
frozenlist
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
huggingface-hub
idna
joblib
keras
Keras-Preprocessing
kiwisolver
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
Markdown
MarkupSafe
matplotlib
mkl-service==2.4.0
MouseInfo==0.1.3
msgpack==1.0.5
multidict
munkres==1.1.4
numba==0.57.0
numexpr
numpy
oauthlib
opt-einsum
packaging
pandas==1.5.3
Pillow==9.4.0
pipreqs==0.4.13
pooch
promise
protobuf==3.20.3
psutil
pyasn1
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycparser
PyGetWindow==0.0.9
PyJWT
PyMsgBox==1.0.9
pyOpenSSL
pyparsing
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks
python-dateutil
pytweening==1.0.7
pytz
PyYAML
regex
requests
requests-oauthlib==1.3.0
rsa
rubicon-objc==0.4.6
scikit-learn
scipy==1.10.1
seaborn
six
soundfile==0.12.1
soxr==0.3.5
tensorboard
tensorboard-data-server
tensorboard-plugin-wit==1.8.1
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-metadata==0.14.0
termcolor
threadpoolctl
tokenizers
torch
tornado
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
yarg==0.1.9
yarl
